<div class="center jumbotron">
	<h1>IDEA HUB</h1>
	<%= link_to "Sign up now", signup_path, class:"btn btn-primary btn-lg btn-xlarge" %>
</div>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 align="center" class="panel-title">Welcome to Idea Hub</h3>
  </div>
  <div class="panel-body">
  	<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper turpis et velit sodales, ac vulputate odio egestas. Nulla sem tellus, semper ut lacus et, commodo iaculis nibh. Mauris ultrices imperdiet malesuada. Quisque euismod, tellus at rutrum lacinia, augue velit finibus sem, quis efficitur diam risus vel justo. Donec in cursus metus. Integer feugiat mauris vitae auctor tempor. Nunc augue est, consequat id porttitor ut, facilisis pulvinar mi. Phasellus eu odio quam. In faucibus imperdiet massa, quis aliquam ante finibus in. Vestibulum vulputate sapien sit amet augue accumsan, eget consectetur nunc sodales. Duis nec justo sed tellus eleifend aliquam. Nam egestas pharetra ligula, nec finibus nulla posuere at. Pellentesque id euismod purus, sed molestie magna. Donec elementum ultrices aliquam.
  	</p>
		In a dui sed nisi blandit aliquet sed vel risus. In ut nisi accumsan, blandit felis at, pharetra velit. Vivamus vestibulum ac eros ac hendrerit. Donec congue semper libero ut laoreet. Cras ut molestie nisi. Integer vel efficitur tortor. Suspendisse sed nibh diam. Donec et dui mollis, interdum odio laoreet, consequat augue. Nullam interdum nisl sed ipsum volutpat, et molestie velit varius. Etiam eget vestibulum nunc.

		Vestibulum quis urna at ex porta suscipit nec ac sem. In finibus vitae ex vel facilisis. Phasellus elementum, lacus ut sodales maximus, enim risus tristique velit, vel commodo magna nulla varius arcu. Phasellus vitae risus fringilla, rhoncus lorem at, mollis eros. Suspendisse vehicula enim vel blandit ultricies. Nam sed finibus augue. Ut sagittis arcu enim, vel efficitur odio semper id. Fusce non lorem egestas dui efficitur pretium. Praesent sagittis libero ligula, at auctor urna iaculis efficitur.
		<p>
		Morbi tempus arcu eu risus aliquam fermentum. Donec vel justo imperdiet, dignissim velit vel, ornare metus. Fusce sed vulputate magna. Pellentesque aliquam elementum arcu eget ornare. Donec feugiat est massa, non placerat mi iaculis quis. Sed eget nulla libero. Ut eu velit at lorem molestie feugiat. Praesent laoreet justo et laoreet efficitur. Curabitur pharetra tortor a bibendum aliquam. Praesent posuere venenatis neque, vel sollicitudin leo iaculis id. Phasellus mollis posuere libero sit amet sagittis. Aenean mattis ultrices venenatis. Mauris egestas laoreet diam non blandit. Suspendisse vel dapibus risus. Vestibulum imperdiet lacus nibh, a rutrum magna cursus id.
		</p>
		<p>
		Sed non consequat tortor. In elementum lacinia eros non volutpat. Etiam id enim congue, tempor ante sed, cursus mauris. Proin eros odio, iaculis id pellentesque vitae, gravida sed nulla. Praesent eros nisl, efficitur ac semper in, gravida ac velit. Donec facilisis pretium risus, eu facilisis massa porta et. Vivamus viverra lorem nec nunc consectetur, vel viverra neque varius. Cras aliquet porttitor pellentesque. Fusce et elementum arcu, id finibus nunc. Nam in nibh venenatis, consectetur sem a, lobortis nisl. Donec consequat sem quam, non malesuada risus malesuada vitae. Quisque malesuada, diam ut volutpat varius, enim est bibendum libero, id viverra eros diam vel arcu. Integer condimentum dui in tincidunt egestas. In hendrerit turpis purus, et molestie mi porttitor non. Vestibulum at tristique eros.
		</p>
  </div>
</div>
</div>